@using BlazorApp.Models
@inject HttpClient httpClient

@if (courses == null)
{
    <p>Loading courses...</p>
    
}
else
{
    foreach (var course in courses)
    {
        <div class="box">
            <NavLink href="/">
                @if (course.IsBestseller)
                {
                    <div class="bestseller">Best Seller</div>
                }

                <button class="btn btn-circle"><i class="fa-regular fa-bookmark"></i></button>

                <img src="@course.ImageUri" alt="@course.Title">
                <h5>@course.Title</h5>
                <div>By @course.Author</div>
                @if (course.DiscountPrice == 0)
                {
                    <div class="normal-price">$@course.OriginalPrice</div>
                }
                else
                {
                    <div class="discount-price">$@course.DiscountPrice</div>
                    <del>$@course.OriginalPrice</del>
                }
                <hr />
                <div class="course-bottom">
                    <div><i class="fa-regular fa-clock"></i>@course.Hours</div>
                    <div>
                        <div><i class="fa-regular fa-thumbs-up"></i>@course.LikesInPercent (@course.LikesInNumbers)</div>
                        <div></div>
                    </div>
                </div>
            </NavLink>
        </div>
    }
}


@code {
    private new List<Course>? courses;

    protected override async Task OnInitializedAsync()
    {
        
        var query = new GraphQLQuery { Query = "{getAllCourses {id title authors {name} imageUri prices {price discount} hours likesInPercent likes isBestseller }}" };
        var response = await httpClient.PostAsJsonAsync("COURSES_API_URI", query);

        if (response.IsSuccessStatusCode)
        {
            var result = await response.Content.ReadFromJsonAsync<DynamicGraphQLResponse>();
            courses = result?.Data.GetProperty("getAllCourses").EnumerateArray()
                .Select(course => new Course
                    {
                        Id = course.GetProperty("id").GetString(),
                        IsBestseller = course.GetProperty("isBestseller").GetBoolean(),
                        ImageUri = course.GetProperty("imageUri").GetString(),
                        Title = course.GetProperty("title").GetString(),
                        Author = course.GetProperty("authors")[0].GetProperty("name").GetString(),
                        OriginalPrice = course.GetProperty("prices").GetProperty("price").GetDouble(),
                        DiscountPrice = course.GetProperty("prices").GetProperty("discount").GetDouble(),
                                

                        Hours = course.GetProperty("hours").GetString(),
                        LikesInPercent = course.GetProperty("likesInPercent").GetString(),
                        LikesInNumbers = course.GetProperty("likes").GetString()

                            // För två författare, funkar inte om det endast finns en
                            // Author = string.Concat(course.GetProperty("authors")[0].GetProperty("name").GetString(), " & ", course.GetProperty("authors")[0].GetProperty("name").GetString()),
                        
                            // Hämta priser med currency (saknas is course-modellen)
                            //         OriginalPrice = $"{course.GetProperty("prices").GetProperty("currency").GetString()} {course.GetProperty("prices").GetProperty("price").GetDouble()}",
                        // DiscountPrice = course.GetProperty("prices").GetProperty("discount").GetDouble() > 0
                        //             ? $"{course.GetProperty("prices").GetProperty("currency").GetString()} {course.GetProperty("prices").GetProperty("price").GetDouble() - course.GetProperty("prices").GetProperty("discount").GetDouble()}"
                        //             : null,
                    })
                .ToList();
        }
    }
}
